<div style="margin-top:5px;">统计范围：<%=params[:netloc_cns]%></div>
<div class="clearfix" style="margin-top:5px;">
  <div style="width:180px" class="left">区域粒度：<%=netloc_grans_text(@perf_template.netloc_gran)%></div>
</div>
<div class="clearfix" style="margin-top:5px;">
  <%
  dic_group_cn = []
  unless @perf_template.dic_group.nil?%>
    <%@perf_template.dic_group.split(",").each{|group|
      dic_group_cn << resource_template_dic_group_text(group)
    %>      
    <%}%>
  <%end%>
  <div class="left">分组条件：<%=dic_group_cn.join(",")%></div>
</div>