<div id="widebar-content-wrap">
  <div id="header-title-wrap">
    <h1 id="header-title">一键式报表</h1>
  </div>
  
  <div id="widebar-content2">
    <div id="widebar-inner">
      
      <div>
        <table width="100%">
          <tr>
            <td width="33%">
              <!--board start-->
        
              <div class="dashboard-sort ui-widget-content ui-corner-all">
                <h3 class="dashboard-header ui-widget-header ui-corner-all">日报</h3>
                <div class="dashboard-content" style="vertical-align:top;">
                  <table width="100%" style="font-size:12px">
                    <tr>
                      <td colspan=2><b><a href="#">2009-2-17日报</a></b></td>
                      <td><a href="#"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a></td>
                    </tr>
                    
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">性能考核分析日报</a></td></tr>
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">网络网元情况分析日报</a></td></tr>
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">指标跟踪分析日报</a></td></tr>
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">数据完整性分析日报</a></td></tr>
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">数据异常分析日报</a></td></tr>
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">价值分析日报</a></td></tr>
                    
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">资源信息日报</a></td></tr>
                    <tr><td colspan=3><hr/></td></tr>
                    <tr><td><image src="/images/report_all.gif" /></td><td><a href="#">2009-2-16日报</a></td><td><a href="#"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a></td></tr>
                    <tr><td><image src="/images/report_all.gif" /></td><td><a href="#">2009-2-15日报</a></td><td><a href="#"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a></td></tr>
                    <tr><td><image src="/images/report_all.gif" /></td><td><a href="#">2009-2-14日报</a></td><td><a href="#"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a></td></tr>
                    <tr><td><image src="/images/report_all.gif" /></td><td><a href="#">2009-2-13日报</a></td><td><a href="#"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a></td></tr>
                    
                    <tr><td><image src="/images/report_all.gif" /></td><td><a href="#">2009-2-12日报</a></td><td><a href="#"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a></td>
                    <tr><td></td><td><a href="#">更多</a></td></tr>
                    <tr><td colspan=2></td></tr>
                  </table>
                </div>
              </div>
              <!--board end-->


            </td>
            
            <td width="33%" valign="top">
              <!--board start-->
              <div class="dashboard-sort ui-widget-content ui-corner-all">
                <h3 class="dashboard-header ui-widget-header ui-corner-all">周报</h3>
                <div class="dashboard-content" style="vertical-align:top;">
                  <table width="100%" height="100%" style="font-size:12px">
                    <tr>
                      <td colspan=2><b><a href="#">2009年第6周(2月9日-2月15日)报</a></b></td>
                      
                      <td><a href="#">
                        <image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a>
                      </td>
                    </tr>
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">性能考核分析周报</a></td></tr>
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">网络网元情况分析周报</a></td></tr>
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">指标跟踪分析周报</a></td></tr>
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">数据完整性分析周报</a></td></tr>
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">数据异常分析周报</a></td></tr>
                    
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">价值分析周报</a></td></tr>
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">资源信息周报</a></td></tr>
                    <tr><td colspan="3"><hr/></td></tr>
                    <tr><td><image src="/images/report_all.gif" /></td><td><a href="#">2009年第5周(2月2日-2月8日)报表</a></td><td><a href="#"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a></td></tr>
                    <tr><td><image src="/images/report_all.gif" /></td><td><a href="#">2009年第4周(1月26日-2月1日)报表</a></td><td><a href="#"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a></td></tr>
                    <tr><td><image src="/images/report_all.gif" /></td><td><a href="#">2009年第3周(1月19日-1月25日)报表</a></td><td><a href="#"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a></td></tr>
                    
                    <tr><td></td><td><a href="#">更多></a></td></tr>
                    <tr height=50><td colspan=2></td></tr>
                  </table>
                </div>
              </div>
              <!--board end-->


            </td>
            <td width="35%">
              
              <!--board start-->
              <div class="dashboard-sort ui-widget-content ui-corner-all">
                <h3 class="dashboard-header ui-widget-header ui-corner-all">月报</h3>
                <div class="dashboard-content" style="vertical-align:top;">
                  <table width="100%" style="font-size:12px">
                    <tr>
                      <td colspan=2><b><a href="#">2009-02月报</a></b></td>
                      <td><a href="#"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a></td>
                      
                    </tr>
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">性能考核分析月报</a></td></tr>
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">网络网元情况分析月报</a></td></tr>
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">指标跟踪分析月报</a></td></tr>
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">数据完整性分析月报</a></td></tr>
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">数据异常分析月报</a></td></tr>
                    
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">价值分析月报</a></td></tr>
                    <tr><td><image src="/images/report_split.gif" /></td><td><a href="#">资源信息月报</a></td></tr>
                    <tr><td colspan="3"><hr/></td></tr>
                    <tr><td><image src="/images/report_all.gif" /></td><td><a href="#">2009-01月报</a></td><td><a href="#"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a></td></tr>
                    <tr><td><image src="/images/report_all.gif" /></td><td><a href="#">2008-12月报</a></td><td><a href="#"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a></td></tr>
                    <tr>
                      <td><image src="/images/report_all.gif" /></td>
                      <td><a href="../report_info"><u>2008-11月报</u></a></td>
                      <td><a href="/export/wlan_report.pdf"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="export/wlan_report.doc"><image src="/images/word_icon.jpg" /></a></td>
                    </tr>
                    
                    <tr><td><image src="/images/report_all.gif" /></td><td><a href="#">2008-10月报</a></td><td><a href="#"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a></td></tr>
                    <tr><td><image src="/images/report_all.gif" /></td><td><a href="#">2008-09月报</a></td><td><a href="#"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a></td></tr>
                    <tr><td></td><td><a href="/reports/kpi"><u>更多</u></a></td></tr>
                    <tr><td></td><td colspan=2></td></tr>
                  </table>
                </div>
              </div>
              <!--board end-->


            </td>
          </tr>
          <tr>
            <td>
              <!--board start-->
              <div class="dashboard-sort ui-widget-content ui-corner-all">
                <h3 class="dashboard-header ui-widget-header ui-corner-all">年报</h3>
                <div class="dashboard-content" style="vertical-align:top;">
                  
                  <table width="100%" style="font-size:12px">
                    <tr>
                      <td colspan=2><b><a href="#">2009年报</a></b></td>
                      <td><a href="#"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a></td>
                    </tr>
                    <tr><td width="5%"><image src="/images/report_split.gif" /></td><td><a href="#">性能考核分析年报</a></td></tr>
                    <tr><td width="5%"><image src="/images/report_split.gif" /></td><td><a href="#">网络网元情况分析年报</a></td></tr>
                    
                    <tr><td width="5%"><image src="/images/report_split.gif" /></td><td><a href="#">指标跟踪分析年报</a></td></tr>
                    <tr><td width="5%"><image src="/images/report_split.gif" /></td><td><a href="#">数据完整性分析年报</a></td></tr>
                    <tr><td width="5%"><image src="/images/report_split.gif" /></td><td><a href="#">数据异常分析年报</a></td></tr>
                    <tr><td width="5%"><image src="/images/report_split.gif" /></td><td><a href="#">价值分析年报</a></td></tr>
                    <tr><td width="5%"><image src="/images/report_split.gif" /></td><td><a href="#">资源信息年报</a></td></tr>
                    <tr><td colspan="3"><hr/></td></tr>
                    
                    <tr><td width="5%"><image src="/images/report_all.gif" /></td><td><a href="#">2008年报</a></td><td><a href="#"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a></td></tr>
                    <tr><td width="5%"><image src="/images/report_all.gif" /></td><td><a href="#">2007年报</a></td><td><a href="#"><image src="/images/pdf_icon.jpg" /></a>&nbsp;&nbsp;<a href="#"><image src="/images/word_icon.jpg" /></a></td></tr>
                  </table>
                </div>
              </div>
              <!--board end-->


            </td>
          </tr>
          
        </table>
      </div>
    </div>
  </div>
</div>
<style>
  .ui-widget-header, .ui-widget-content {
border-color:#BBD8E7;
}
.ui-corner-all {
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
}
.ui-widget-header {
background:#CCCCCC url(/images/cccccc_1x100_textures_03_highlight_soft_75.png) repeat-x scroll 50% 50%;
border:1px solid #AAAAAA;
color:#222222;
font-weight:bold;
}
.dashboard-header {
border:medium none !important;
margin:0;
padding:0.5em;
}
.ui-widget-header {
background:#A5D4F8 url(/images/blue_header.png) repeat-x scroll 50% 50%;
}
h3 {
font-size:1.4em;
margin:1.2em 0;
}
h1, h2, h3, h4, h5, h6 {
display:block;
font-weight:bold;
line-height:1;
padding:0;
}
</style>