<%content_for :head do%>
  <%=javascript_include_tag "ui/external/cookie/jquery.cookie.js"%>
  <%=javascript_include_tag "ui/external/dynatree/jquery.dynatree.js"%>
  <%=stylesheet_link_tag "/javascripts/ui/external/dynatree/skin/ui.dynatree.css"%>
  <style>
    div.ui-dynatree-container{
      border: none;
      overflow: auto;
      height: 130px;
      font-size: 9pt;
    }
  </style>
  <script type='text/javascript'>
      $(function(){
          $("#tree").dynatree({
              checkbox: true,
              selectMode: 2,
              imagePath: '',
              autoFocus: false,
              strings: {
                  loading: "加载中…",
                  loadError: "加载错误!"
              },
              initAjax:{
                  data:{parent: -1,netloc: "<%=@perf_template.netloc %>"},
                      url: "/report/case_templates/case_tree"
                  },
                  onActivate: function(dtnode) {
                  },
                  onSelect: function(select, dtnode) {
                      var selNodes = dtnode.tree.getSelectedNodes();
                      var selTitles = [];
                      var selKeys = $.map(selNodes, function(node){
                          selTitles.push(node.data.title)
                          return node.data.key;
                      });
                      $("#netloc").val(selKeys.join(","));
                      var netloc_cn = $("#netloc_cns");
                      if(netloc_cn.length >0){
                        netloc_cn.val(selTitles).join(',');
                      }
                  },
                  onDblClick: function(dtnode, event) {
                      dtnode.toggleSelect();
                  },
                  strings: {
                      loading: "加载中…",
                      loadError: "加载错误!"
                  },
                  onKeydown: function(dtnode, event) {
                      if( event.which == 32 ) {
                          dtnode.toggleSelect();
                          return false;
                      }
                  }
              });
          });
  </script>
<%end%>
<div style="width:100%;height:145px;" id="tree"></div>