/*base/core/reset.css*/
body{
        background:#f5fcfd;
}

a{
        text-decoration:none;
        color:#1c6280;
}
a:hover{
        text-decoration:underline;
        color:#D54E21;
}
hr{
        border-top:1px solid #d3d3d3;
}

/*base/core/util.css*/
.icon{
        background:transparent url(/images/wordpress/menu.png) no-repeat scroll -65px -8px;
}

.odd{
        background-color:#f9f9f9;
}
.even{
        background-color:#fff;
}

/*base/core/form.css*/
select{
        border-color: #8cbdd5;
}

.text,.password,.textarea{
        background:#FBFBFB;
        border:1px solid #E5E5E5;

}
/*light button*/
.button,.submit,.aux{
        background:#21759B url(/images/wordpress/button-grad.png) repeat-x scroll left top;
        color:#fff;
        border:1px solid #298cba;
}
/*gray button*/
.aux{
        background:#f2f2f2 url(/images/wordpress/white-grad.png) repeat-x scroll left top;
        color:#464646;
        border:1px solid #bbb;
}

.button:hover,.submit:hover{
        border-color:#13455B !important;
        color:#EAF2FA !important;
}
.aux:hover{
        border-color:#666 !important;
        color:#000 !important;
}
/*base/core/layout.css*/
/*header*/
#header{
        background:#073447;

}
#logo a{
        color:#fff;
}
#user-action p{
        color:#999;
}
#user-action p a{
        color:#ccc;
}
#navigation li a{
        color:#ccc;
}
#navigation li.selected a{
        color:#000;
        background:#f5fcfd;

}

/*  menu */
#menu h3 a.title,#menu h4{
        background:#eaf3fa url(/images/wordpress/menu-bits.gif) repeat-x scroll left -379px;
        border:1px solid #bbd8e7;
        border-bottom:none;
}

#menu h4{
        background:#ededed;
}
#menu .current h3 a.title{
        background-position:left top;
        background-color:#6d6d6d;
        border-color:#6d6d6d;
}
#menu .current h4{
        background-color:#eaeaea;
        border-color:#aaa;
}

#menu .current h3 a.title{
        color:#fff;
}
#menu .current h3 .triggle{
        border-color:#989898;
}
#menu .last h3 a.title,.has-minisidebar #menu .last h3 a.title{
        border-bottom:1px solid #bbd8e7;
}
#menu .open h3 a.title{
        border-bottom:none;
        -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0;
}


#menu .separator{
        background:transparent url(/images/wordpress/menu-arrows.gif) no-repeat scroll left 5px;
        height:2.1em;
        cursor:w-resize;
}
.has-minisidebar #menu .separator{
        cursor:e-resize;
        background-position:right -34px;
}
#menu .separator hr{
        display:none;
}
#menu .triggle{
        border-left:1px solid #bbd8e7;
}
#menu .triggle em{
        background-position:-64px 0;
}

#menu .open .triggle em{
        background-position:0 0;
}
#menu ol{
        border:1px solid #bbd8e7;
        border-bottom:none;
        background:#fff;

}
#menu .current ol{
        border-bottom:1px solid;
        border-color:#aaa !important;
}

#menu ol.last{
        border-bottom:1px solid #bbd8e7;
}
#menu ol li.selected{
        background:#f5f5f5;
}
#menu ol li a:hover{
        background:#eaf2fa;

}
#menu ol li.selected a{
        background:transparent url(/images/wordpress/menu-dark.gif) no-repeat scroll left top !important;
        margin-left:-0.1em;
        padding:0.4em 0.7em;
}
.has-minisidebar #menu .sub ol{
        border-bottom:1px solid #bbd8e7;
}
.has-minisidebar #menu h3 a.title{
        background-image:none;
}
.has-minisidebar #menu .current h3 a.title{
        background:#e6e6e6;
        border-color:#bbd8e7;
}
/* end menu */


/* show/hide settings */

#screen-meta-tabs a{
        border-top:none;
        color:#555;
}

.screen-meta-cont{
        background:#ededed;
        border:1px solid #bbd8e7;
        border-top:none;
}
/* control */
.search-box .text{
        border-color:#8CBDD5;
}
/*pagination*/
.pagination a{
        background:#eaf3fa url(/images/wordpress/menu-bits.gif) repeat-x scroll left -379px;
        border:1px solid #E3E3E3;
}
.pagination a:hover{
        border-color:red;

}
.pagination .current{
        background:#DFDFDF none repeat scroll 0 0;
        border:1px solid #bbd8e7;
}


.ui-widget-header{
        background:url(/images/blue_header.png) #A5D4F8 repeat-x 50% 50%;
}
.ui-widget-header ,.ui-widget-content{
        border-color:#bbd8e7;
}

