          <div>
            <%= concat label_tag :chart_attributes,"数据源脚本：", :class=>'label',:style=>"width:90px;"
              text_area_tag "chart_sql",params[:chart_sql],:id=>'chart_sql',:style=>"width:590px; height: 183px;"
             %>
          </div>