          <div>
             <%= concat label_tag :chart_attributes,"图表属性：", :class=>'label',:style=>"width:90px;"
              text_field_tag "chart_attributes",params[:chart_attributes],:id=>'chart_attributes',:style=>"width:590px;"
             %>
          </div>