
<div id="leftColumn" style="display: block">
  <div id="shortcuts" class="leftList">
    <%=render :partial=>"/layouts/sitetree"%>
  </div>
  <% ui_menubar :id =>'menu' do |m| %>
    <% m.menu '开发工具模块' do %>
     <%=m.item 'common_report','编写SQL模版列表',{:controller => 'freed_report/ult_report_models',:action => 'index'}, :class =>controlled("freed_report/ult_report_models/index") %>
     <%=m.item 'perf_templates','手动配置模版列表',{:controller => 'ult_report/perf_templates',:action => 'index'}, :class =>controlled("ult_report/perf_templates/index") %>
     <%=m.item 'alarm_match','菜单栏配置',{:controller => 'freed_report/tabmenus',:action => 'index'}, :class =>controlled("freed_report/tabmenus/index") %>
   <%end %>
  <%end %>
</div>



